.left-sidebar {
  display: flex;
  position: fixed;
  height: 100%;
  z-index: 500;
  background-color: var(--main-background);

  .left-sidebar__control {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    gap: 32px;
    padding: 16px 16px 0;
    border-right: 1px solid var(--border-color);
    box-sizing: border-box;
  }

  .left-sidebar__menu {
    border-right: 1px solid var(--border-color);
    width: 280px;
    box-sizing: border-box;

    .left-sidebar__search {
      display: flex;
      gap: 8px;
      padding: 16px;
      border-bottom: 1px solid var(--border-color);

      .left-sidebar__search-container {
        width: 208px;
      }
    }

    .left-sidebar__menu-container {
      padding: 10px 16px 0;
      overflow: auto;
    }

  }

  .left-sidebar__menu_closed {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .left-sidebar {
    top: 0;
    z-index: 1500;
    height: 56px;


    .left-sidebar__control {
      border-right: none;
    }
  }


}