.left-sidebar {
  display: flex;
  position: fixed;
  height: 100%;

  .left-sidebar__control {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    gap: 32px;
    padding: 16px 16px 0;
    border-right: 1px solid var(--border-color);
    width: 56px;
    box-sizing: border-box;
  }

  .left-sidebar__menu {
    border-right: 1px solid var(--border-color);
    width: 280px;
    box-sizing: border-box;

    .left-sidebar__search {
      display: flex;
      gap: 8px;
      padding: 16px;
      border-bottom: 1px solid var(--border-color);

      .left-sidebar__search-container {
        width: 208px;
      }
    }

    .left-sidebar__menu-container {
      padding: 10px 16px 0;
    }

  }
  .left-sidebar__menu_closed {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .left-sidebar {
    .left-sidebar__menu {}
  }
}