.form-field {
  width: 100%;

  .form-field__label {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;
  }

  .form-field__label_required::before {
    content:"*";
    display: inline-block;
    color: var(--red);
    margin-right: 3px;
  }
}