.profile {
  display: flex;
  align-items: center;

  .profile__img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  .profile__user-name {
    margin: 0 8px;
  }
}

@media screen and (max-width: 991px) {
  .profile {
    .profile__user-name {
      white-space: nowrap;
      max-width: 145px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}