.icon-button {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.icon-button:hover {
 cursor: pointer;
}

.icon-button__icon-settings {
  background: url(../../../assets/settings.svg) no-repeat center;
}

.icon-button__icon-no-pin {
  background: url(../../../assets/no-pin.svg) no-repeat center;
}

.icon-button__icon-search {
  background: url(../../../assets/search-button.svg) no-repeat center;
}

.icon-button__icon-add {
  background: url(../../../assets/plus.svg) no-repeat center;
}

