.button {
  padding: 6px 12px;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 600;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 32px;
}

.button_color_blue {
  background: var(--blue);
  color: white;
}