@import "@fontsource/open-sans";
@import '@fontsource/open-sans/600.css';
@import "@fontsource/montserrat";
@import "@fontsource/montserrat/600.css";

:root {
  
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --input-background: #FCFCFD;
  --selected-option-border: #99D5FF;
  --selected-option-background: #E5F4FF;
  --border-color: #D5D8DD;
  --neutral-mask: #ABB1BA;
  --text-color: #2E3238;
  --blue: #0078CF;
  --main-font: 'Open Sans', sans-serif;
  --heading-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--main-font);
  margin: 0;
  /* display: flex;
  min-width: 320px;
  min-height: 100vh; */
}
